---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import { sortItemsByDateDesc } from "../../utils/data-utils";
import { getReadingTime } from "../../utils/reading-time";

export async function getStaticPaths() {
  const posts = (await getCollection("blog")).sort(sortItemsByDateDesc);
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
    },
  }));
}

type Props = { post: CollectionEntry<"blog"> };

const { post } = Astro.props;
const { title, publishDate, updatedDate, excerpt, seo } = post.data;
const readingTime = getReadingTime(post.body);
const { Content } = await post.render();
---

<BaseLayout
  title={seo?.title ?? title}
  description={seo?.description ?? excerpt}
  image={seo?.image}
  pageType="article"
>
  <article>
    <header>
      <h1>{title}</h1>
      <p class="text-sm">
        <FormattedDate date={publishDate} /> · {readingTime}
        {
          updatedDate && (
            <>
              {" · "}
              <span>
                Updated on <FormattedDate date={updatedDate} />
              </span>
            </>
          )
        }
      </p>
    </header>
    <div>
      <Content />
    </div>
  </article>
</BaseLayout>
