---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Badge } from '@/components/ui/badge';
import { sortItemsByDateDesc, getAllTags, getPostsByTag } from '@/utils/data-utils';

const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
const tags = getAllTags(posts);

const tagsWithCount = tags
  .map((tag) => ({
    ...tag,
    count: getPostsByTag(posts, tag.id).length,
  }))
  .sort((a, b) => b.count - a.count);
---

<BaseLayout
  title="Tags"
  description="Explore topics I write about, from software development to web technologies. Click on any tag to discover related articles and insights."
>
  <section>
    <h1>Tags</h1>
    <p>
      Explore topics I write about, from software development to web technologies. Click on any tag to discover related
      articles and insights.
    </p>
    <div class="grid gap-6">
      <div>
        <h2>All Tags ({tagsWithCount.length})</h2>
        <div class="not-prose flex flex-wrap gap-2">
          {
            tagsWithCount.map((tag) => (
              <Badge client:load>
                <a href={`/tags/${tag.id}/`}>{tag.name}</a>
              </Badge>
            ))
          }
        </div>
      </div>
      {
        tagsWithCount.length > 0 && (
          <div>
            <h2>Popular Tags</h2>
            <div class="not-prose grid gap-3 sm:grid-cols-2 md:grid-cols-2">
              {tagsWithCount.slice(0, 9).map((tag) => (
                <a href={`/tags/${tag.id}/`} class="font-medium">
                  <div class="flex items-center justify-between rounded-lg border p-3">
                    {tag.name}
                    <Badge client:load>{tag.count}</Badge>
                  </div>
                </a>
              ))}
            </div>
          </div>
        )
      }
    </div>
  </section>
</BaseLayout>
