---
import { type CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

type Props = { post: CollectionEntry<"blog">; class?: string };

const { post, class: className } = Astro.props;
const { title, publishDate, updatedDate, excerpt } = post.data;
---

<article class:list={["mb-12", className]}>
  <header>
    <h2>
      <a class="no-underline" href={`/blog/${post.slug}/`}>{title}</a>
    </h2>
    <p class="text-sm">
      <FormattedDate date={publishDate} />
      {
        updatedDate && (
          <>
            {" | "}
            <span>
              Updated on <FormattedDate date={updatedDate} />
            </span>
          </>
        )
      }
    </p>
  </header>
  {excerpt && <div>{excerpt}</div>}
</article>
